[submodule "deploy/odoo-addons/server-tools"]
	path = deploy/odoo-addons/server-tools
	url = git@github.com:vchavkov82/hr-server-tools.git
	branch = 18.0
[submodule "deploy/odoo-addons/payroll"]
	path = deploy/odoo-addons/payroll
	url = git@github.com:vchavkov82/hr-payroll.git
	branch = 18.0
[submodule "deploy/odoo-addons/hr"]
	path = deploy/odoo-addons/hr
	url = git@github.com:vchavkov82/hr-hr.git
	branch = 18.0
[submodule "deploy/odoo-addons/hr-holidays"]
	path = deploy/odoo-addons/hr-holidays
	url = git@github.com:vchavkov82/hr-hr-holidays.git
	branch = 18.0
[submodule "deploy/odoo-addons/hr-attendance"]
	path = deploy/odoo-addons/hr-attendance
	url = git@github.com:vchavkov82/hr-hr-attendance.git
	branch = 18.0
[submodule "deploy/odoo-addons/hr-expense"]
	path = deploy/odoo-addons/hr-expense
	url = git@github.com:vchavkov82/hr-hr-expense.git
	branch = 18.0
[submodule "deploy/odoo-addons/timesheet"]
	path = deploy/odoo-addons/timesheet
	url = git@github.com:vchavkov82/hr-timesheet.git
	branch = 18.0
[submodule "deploy/odoo-addons/reporting-engine"]
	path = deploy/odoo-addons/reporting-engine
	url = git@github.com:vchavkov82/hr-reporting-engine.git
	branch = 18.0
[submodule "deploy/odoo-addons/account-financial-reporting"]
	path = deploy/odoo-addons/account-financial-reporting
	url = git@github.com:vchavkov82/hr-account-financial-reporting.git
	branch = 18.0
[submodule "deploy/odoo-addons/web"]
	path = deploy/odoo-addons/web
	url = git@github.com:vchavkov82/hr-web.git
	branch = 18.0
[submodule "deploy/odoo-addons/project"]
	path = deploy/odoo-addons/project
	url = git@github.com:vchavkov82/hr-project.git
	branch = 18.0
[submodule "deploy/odoo-addons/fleet"]
	path = deploy/odoo-addons/fleet
	url = git@github.com:vchavkov82/hr-fleet.git
	branch = 18.0
[submodule "deploy/odoo-addons/rest-framework"]
	path = deploy/odoo-addons/rest-framework
	url = git@github.com:vchavkov82/hr-rest-framework.git
	branch = 18.0
[submodule "deploy/odoo-addons/queue"]
	path = deploy/odoo-addons/queue
	url = git@github.com:vchavkov82/hr-queue.git
	branch = 18.0
[submodule "deploy/odoo-addons/contract"]
	path = deploy/odoo-addons/contract
	url = git@github.com:vchavkov82/hr-contract.git
	branch = 18.0
[submodule "deploy/odoo-addons/partner-contact"]
	path = deploy/odoo-addons/partner-contact
	url = git@github.com:vchavkov82/hr-partner-contact.git
	branch = 18.0
[submodule "deploy/odoo-addons/data-protection"]
	path = deploy/odoo-addons/data-protection
	url = git@github.com:vchavkov82/hr-data-protection.git
	branch = 18.0
[submodule "deploy/odoo-addons/survey"]
	path = deploy/odoo-addons/survey
	url = git@github.com:vchavkov82/hr-survey.git
	branch = 18.0
[submodule "deploy/odoo-addons/server-ux"]
	path = deploy/odoo-addons/server-ux
	url = git@github.com:vchavkov82/hr-server-ux.git
	branch = 18.0
