---
import data from '../data/persistence/coverage.json';

const coverage = Object.values(data);
console.log(coverage);
---

<div class="coverage-report">
    <table>
        <thead>
            <tr>
            <th class="coverage-report-header-1">Service</th>
            <th class="coverage-report-header-2">Supported</th>
            <th class="coverage-report-header-1">Persistence Test Suite</th>
            <th class="coverage-report-header-2">Limitations</th>
            </tr>
        </thead>
        <tbody>
            {coverage.map((data) => (
                <tr>
                    <td><a href={`/aws/${data.service}`}>{data.full_name}</a></td>
                    <td class="coverage-shadow-overlay-green">{(data.support === 'supported' || data.support === 'supported with limitations') ? '✔️' : ''}</td>
                    <td class="coverage-shadow-overlay-green">{data.test_suite ? '✔️' : ''}</td>
                    <td>{data.limitations}</td>
                </tr>
            ))}
        </tbody>
    </table>
    <br/>
</div>

<style>
.coverage-report {
    width: 100%;
}

.coverage-report table thead,
table tfoot {
  position: sticky;
}

.coverage-report table thead {
  inset-block-start: 0;
}

.coverage-report table thead tr th {
    border: 0px;
}

.coverage-report table thead tr {

    left: 0;
    position: sticky;
    z-index: 9999;
}

.coverage-shadow-overlay-green {
    text-align: center;
    color: rgba(100%, 0%, 0%, 0);
    text-shadow: 0 0 0 #00ad00;
}
</style>