@font-face {
	font-family: 'Aeonikpro';
	src:
		url('./AeonikPro/AeonikPro-Regular.woff') format('woff'),
		url('./AeonikPro/AeonikPro-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'Aeonikpro';
  src:
    url('./AeonikPro/AeonikPro-MediumItalic.woff') format('woff'),
    url('./AeonikPro/AeonikPro-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonikpro';
  src:
    url('./AeonikPro/AeonikPro-RegularItalic.woff') format('woff'),
    url('./AeonikPro/AeonikPro-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonikpro';
  src:
    url('./AeonikPro/AeonikPro-Medium.woff') format('woff'),
    url('./AeonikPro/AeonikPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonikmono';
  src:
        url('./AeonikMono/AeonikMono-Regular.woff') format('woff'),
        url('./AeonikMono/AeonikMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'AeonikFono';
	src:
		url('./AeonikFono/aeonikfonopro-regular.woff') format('woff'),
		url('./AeonikFono/aeonikfonopro-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AeonikFono';
	src:
		url('./AeonikFono/aeonikfonopro-medium.woff') format('woff'),
		url('./AeonikFono/aeonikfonopro-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AeonikMono';
	src:
		url('./AeonikMono/AeonikMono-Regular.woff') format('woff'),
		url('./AeonikMono/AeonikMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}